.mapContainer {
  position: relative;
  width: 100%;
  height: 100vh;
}

.bottomAction {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
}

.setStoreBtn {
  background-color: #28a745; /* Aapka theme color */
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: 0.3s;
}

.setStoreBtn:hover {
  background-color: #218838;
  transform: scale(1.05);
}